Maurer.OktaFilter/.vs/Maurer.OktaFilter/v17/*
Maurer.OktaFilter/.vs/Maurer.OktaFilter/FileContentIndex/*
Maurer.OktaFilter/Maurer.OktaFilter/obj/*
Maurer.OktaFilter/Maurer.OktaFilter/bin/*
Maurer.OktaFilter/Maurer.OktaFilter/UnitTesting/obj/*
Maurer.OktaFilter/Maurer.OktaFilter/UnitTesting/bin/*
Maurer.OktaFilter/Maurer.OktaFilter/.vs/*
Maurer.OktaFilter/.vs/*
Maurer.OktaFilter/UnitTesting/bin/*
Maurer.OktaFilter/UnitTesting/obj/*
Maurer.OktaFilter/IntegrationTesting/bin/*
Maurer.OktaFilter/IntegrationTesting/obj/*
Maurer.OktaFilter/Maurer.OktaFilter/IntegrationTesting/obj/*
Maurer.OktaFilter/Maurer.OktaFilter/IntegrationTesting/bin/*