Maurer.OktaFilter/.vs/Maurer.OktaFilter/v17/.suo
Maurer.OktaFilter/Maurer.OktaFilter/obj/
Maurer.OktaFilter/Maurer.OktaFilter/bin/
Maurer.OktaFilter/Maurer.OktaFilter/UnitTesting/obj/
Maurer.OktaFilter/Maurer.OktaFilter/UnitTesting/bin/